{% extends 'base.html' %}
{% load static %}


{% block title %} {% endblock %}

{% block content %}

    <header>
        <nav class="container container--70">
            <ul>
                <li><a href="{% url 'home:landing_page' %}">Start</a></li>
                <li><a href="{% url 'home:landing_page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="{% url 'home:landing_page' %}#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="{% url 'home:landing_page' %}#help" class="btn btn--without-border">Fundacje i
                    organizacje</a></li>
                <li><a href="{% url 'home:add_donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="{% url 'home:landing_page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>


        <div>
            <ul>
                <li><h2>Twoje imię: {{ user.first_name }}</h2></li>
                <li><h2>Twoje nazwisko: {{ user.last_name }}</h2></li>
                <li><h2>Twój email: {{ user.email }}</h2></li>

                <h2>Twoje oczekujące dotacje:</h2>

                    {% for donation in donations %}
                        <li>
                            <p>Ilość worków: {{ donation.quantity }}</p>
                            <p>Nazwa organizacji: {{ donation.institution.name }}</p>
                            <p>Planowana data odbioru: {{ donation.pick_up_date }}</p>
                            <a class='' href="{% url 'user:taken' donation.pk %}">Potwierdź oderanie</a>
                        </li>
                    {% endfor %}

                <h2>Twoje odebrane dotacje:</h2>
                    {% for donation in taken_donations %}
                        <li>
                            <p>Ilość worków odebranych: {{ donation.quantity }}</p>
                            <p>Nazwa organizacji: {{ donation.institution.name }}</p>
                            <P>Odebrane: {{ donation.pick_up_date }}</P>
                        </li>
                    {% endfor %}
            </ul>
        </div>
    </header>
{% endblock %}